header{
  height: 50px;
  background-color: black;
}
.header-text{
  font-size: 14px;
  color: white;
  margin-top: 4px;
  margin-right: 7px;
  background-color: gray;
  height: 20px;
  border-radius: 5px;
  padding: 0 5px;
}

.content{
  /* width: 90%; */
   margin: 0 auto; 
   /* height: 80vh; */
   height: calc(100vh-100px);
  width: 90vw;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}


.debug.h100.w15{
margin-left: 2px;
margin-top: 8px;
}
/* .user.debug.h100.w15{
  background-image: url(img/zooming.jpg);
  background-size: cover;
  background-position: center;
} */

.user.debug.h100.w15{
  position: relative;
}
.user-text{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
}
.userimg{
  height: 100px;
  width: 100%;
}