header{
  height: 50px;
}

.content{
  /* width: 90%; */
   margin: 0 auto; 
   /* height: 80vh; */
   height: calc(100vh-100px);
  width: 90vw;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}


.debug.h100.w15{
margin-left: 2px;
margin-top: 5px;
}
/* .user.debug.h100.w15{
  background-image: url(img/zooming.jpg);
  background-size: cover;
  background-position: center;
} */
.userimg{
  height: 100px;
  width: 100%;
}